<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <style>
        body{
            cursor:pointer;
            background-image: url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2964&q=80');
            background-size: cover;

        }
   
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
      </nav>
  
    <div class="container">
        <h1>
        <button class="btn btn-primary float-right" onclick="location.href='/hotels'">Back</button></h1>
        <form action="/hotels/<%=hotel._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control" value="<%=hotel.name%>" />
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" class="form-control" value="<%=hotel.location%>" />

            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" name="Rating" id="rating" class="form-control" value="<%=hotel.rating%>" />

            </div>
            <div class="form-group">
                <label for="img">Image</label>
                <input type="text" name="img" id="img" class="form-control" value="<%=hotel.img%>" />

            </div>
            

            <button class="btn btn-warning">Submit</button>
            <a href="/hotels">Back</a>

        </form>
    </div>
    
</body>
</html>


<!-- W06D04 lesson was cited to build the nav-------->